
* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.carousel {
  position: fixed;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow-y: scroll;
  background-color: rgb(231, 204, 204);
}

.slides {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slides__item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -999;
  transition: opacity 1s;
  background: #333;
  color: #fff;
}

.active {
  opacity: 1;
  z-index: 1;
}

.slides__item:nth-of-type(1) {
  background: grey;
  background-image: url(../img/noty.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slides__item:nth-of-type(2) {
  background: grey;
  background-image: url(../img/naushniki.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slides__item:nth-of-type(3) {
  background: grey;
  background-image: url(../img/mikrofon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slides__item:nth-of-type(4) {
  background: grey;
  background-image: url(../img/gitarist.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slides__item:nth-of-type(5) {
  background: grey;
  background-image: url(../img/pianino.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.controls {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.control-pause {
  opacity: 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
  } 
.control-prev,
.control-next {
  opacity: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.indicators {
  position: relative;
  display: flex;
  width: 100%;
  transform: translateY(1em);
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.indicators__item {
  display: block;
  height: 20px;
  align-items: center;
  cursor: pointer;
  flex-basis: 20px;
  user-select: none;
  border-radius: 100%;
  border: solid 1px white;
}
.indicators__item.active {
  background-color: rgb(187, 188, 202);
}

.fas {
  color: rgb(201, 193, 193);
}

.fa-backward,
.fa-forward {
  font-size: 30px;
}

.controls:hover .control-pause,
.controls:focus .control-pause {
opacity: 1;
user-select: none;
}

@media (min-width: 992px) {
  .controls {
    top: 40%;
    gap: 40%;
  }
  .indicators {
    top: 70%;
    gap: 2em; 
  }
  .fa-pause,
  .fa-play {
    font-size: 150px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .controls {
    top: 50%;
    gap: 35%;
  }
  .indicators {
    top: 80%;
    gap: 2em; 
  }
  .fa-pause,
  .fa-play {
    font-size: 100px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .controls {
    top: 50%;
    gap: 35%;
  }
  .indicators {
    top: 85%;
    gap: 2em; 
  }
  .fa-pause,
  .fa-play {
    font-size: 80px;
  }
}

@media (max-width: 575.8px) {
  .controls {
    top: 50%;
    gap: 25%;
  }
  .indicators {
    top: 90%;
    gap: 2em; 
  }
  .fa-pause,
  .fa-play {
    font-size: 50px;
  }
}



